# Chinese article:
# https://www.ruanyifeng.com/blog/2016/03/systemd-tutorial-part-two.html

[Unit]
Description=forward redis in kubernetes
After=docker.service

[Service]
ExecStart=/usr/bin/sudo kubectl port-forward --namespace default svc/gitlab-redis-master 6379:6379 --address 0.0.0.0
Restart=always
User=root
RestartSec=3
Environment="KUBECONFIG=/etc/kubernetes/kubelet.conf"

[Install]
WantedBy=graphical.target