# Chinese article:
# https://www.ruanyifeng.com/blog/2016/03/systemd-tutorial-part-two.html

[Unit]
Description=minikube
After=docker.service

[Service]
ExecStart=/usr/bin/sudo minikube start --vm-driver=none --addons=ingress
ExecStop=sudo minikube stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=graphical.target