# Chinese article:
# https://www.ruanyifeng.com/blog/2016/03/systemd-tutorial-part-two.html

[Unit]
Description=minikube
After=docker.service

[Service]
ExecStart=minikube start --vm-driver=none
ExecStop=minikube stop
User=${USER}
Type=oneshot
RemainAfterExit=yes
Environment="CHANGE_MINIKUBE_NONE_USER=true"

[Install]
WantedBy=graphical.target